* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    background-image: url(img/slider_img.jpg);
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}

.slider-header {
    padding-top: 63px;
}

.logo {
    float: left;
}

.menu {
    float: right;
    padding-right: 69px;
}

.menu-list {
    list-style-type: none;
    float: left;
    padding: 10px 13px;
}

.menu-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #8c8c8c;
    font-family: Montserrat;
}

.menu-list:hover {
    border-bottom: 3px solid #212121;
}

.menu-link:hover {
    color: #212121;
    font-weight: 700;
}

.menu-list-search:hover {
    border-bottom: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.slider-title {
    margin-top: 288px;
}

.slider-title-trending {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #43a047;
    font-family: Montserrat;
    margin-bottom: 12px;
}

.slider-title-trending-h2 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 100;
    color: #212121;
    text-transform: uppercase;
    font-family: Montserrat;
}

.slider-title-text {
    width: 480px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    font-family: Montserrat;
    margin-top: 20px;
    margin-bottom: 22px;
}

.slider-title-buttom {
    text-decoration: none;
    height: 45px;
    background-color: #ffffff;
    border-radius: 22.5px;
    width: 212px;

    font-size: 18px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    font-family: Montserrat;
    display: inline-block;
    text-align: center;
}

.slider-title-buttom::after {
    content: url(img/arrow.png);
    padding-left: 22px;
}

.slider-title-buttom:hover {
    box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
}

.slider-footer {
    position: absolute;
    text-align: center;
    width: 1170px;
    bottom: 19px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    height: 40px;
    background-color: #212121;
    border-radius: 50%;
    width: 40px;
    margin-bottom: 0;
}
/* featured */

.featured-title {
    margin-top: 120px;
    margin-bottom: 50px;
}

.left-featured1 {
    float: left;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    font-family: Montserrat;
    border-bottom: 3px solid #212121;
}

.left-featured1:hover {
    cursor: pointer;
}

.left-featured2 {
    float: left;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
    font-family: Montserrat;
    padding-left: 31px;
}

.left-featured2:hover {
    color: #212121;
    cursor: pointer;
    border-bottom: 3px solid #212121;
}

.featured-right {
    float: right;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #6c6c6c;
    font-family: Montserrat;
}

.featured-right::after {
    padding-left: 12px;
    content: url(img/arrow.png);
}

.featured-right:hover {
    cursor: pointer;
    color: #212121;
}

.featured-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 120px;
}
/* featured-exclusive */

.featured-exclusive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exclusive1 {
    height: 683px;
    width: 683px;
    background-image: url(img/exclusive1.jpg);
}

.section1 {
    margin-left: 51px;
    margin-top: 228px;
}

.exclusive1-title {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    font-family: Montserrat;
}

.exclusive1-h2 {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.exclusive1-text {
    font-family: Montserrat;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 400px;
    margin-top: 24px;
    margin-bottom: 35px;
}

.exclusive-button {
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 22.5px;
    font-size: 18.1px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    font-family: Montserrat;
}

.exclusive-button::after {
    content: url(img/arrow.png);
    padding-left: 22px;
}

.exclusive-button:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
}

.exclusive2 {
    height: 683px;
    width: 683px;
    background-image: url(img/exclusive2.jpg);
}

.section2 {
    margin-top: 228px;
    margin-left: 51px;
}

.exclusive2-title {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    font-family: Montserrat;
}

.exclusive2-h2 {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.exclusive2-text {
    font-family: Montserrat;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 400px;
    margin-top: 24px;
    margin-bottom: 35px;
}
/* Trending-Products */

.Trending-Products {
    margin-top: 119px;
    margin-bottom: 120px;
}

.Trending-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 64px;
}

.Trending-left {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.Trending-right {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #6c6c6c;
    margin-top: 17px;
}

.Trending-right::after {
    content: url(img/arrow.png);
    padding-left: 12px;
}

.Trending-right:hover {
    color: #212121;
    cursor: pointer;
}

.images1-images {
    margin-bottom: 30px;
}

.images1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.images2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.images2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Hot-deal */

.slider-Hot-deal {
    background-image: url(img/Hot_deal.jpg);
    height: 800px;
    position: relative;
}

.Hot-deal-content {
    margin-top: 287px;
    float: left;
}

.content-title {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e53935;
}

.content-h2 {
    font-family: Montserrat;
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
}

.content-text {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 470px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.slider-Hot-deal-footer {
    position: absolute;
    width: 1170px;
    text-align: center;
    bottom: 19px;
}

.slider-circle {
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.slider-circle:hover {
    background-color: #212121;
}

.slider-circle-activ {
    width: 40px;
    height: 40px;
    background-color: #212121;
    border-radius: 50%;
    margin-bottom: 0px;
}
/* gallery */

.gallery {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-left {
    height: 570px;
    width: 570px;
    background-image: url(img/gallery_left.jpg);
}

.left-section {
    margin-top: 186px;
    margin-left: 31px;
}

.left-title {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
}

.left-h2 {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.left-text {
    font-family: Montserrat;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 345px;
    margin-bottom: 35px;
    margin-top: 24px;
}

.gallery-right {
    width: 570px;
    height: 570px;
}

.right-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.right-botton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* mobile-app */
.mobile-app {
    background-image: url(img/mobile_app.jpg);
    height: 512px;
}

.mobile-container {
    margin-top: 125px;
    float: left;
}

.mobile-title {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.mobile-h2 {
    font-family: Montserrat;
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    width: 490px;
    margin-bottom: 26px;
}

.mobail-text {
    font-family: Montserrat;
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    margin-bottom: 33px;
}

.google_play {
    margin-left: 10px;
}
/* footer */
.footer {
    margin-top: 120px;
}

.footer-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}

.CU-footer {
    width: 230px;
}

.CU-footer-title {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    margin-bottom: 24px;
}

.CU-footer-text {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
}

.UI-footer {
    width: 400px;
}

.footer-title {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    margin-bottom: 25px;
}

.footer-text-left {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
    float: left;
}

.footer-text-right {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
    float: right;
}

.LSIT-footer {
    width: 390px;
}

.LSIT-footer-title {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.LSIT-footer-text {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    margin-top: 24px;
    margin-bottom: 26px;
}

.form-email {
    position: relative;
}

.LSIT-footer-email {
    width: 370px;
    height: 48px;
    border: 1px solid #d9dee1;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #6c6c6c;
    font-family: Montserrat;
}

input[type="email"] {
    padding-left: 19px;
}

.email-send {
    position: absolute;
    top: 17px;
    right: 14px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 39px;
}